@import '../Utils/mixin';
@import '../Utils/variables';
@import '../Composants/overflowDisplay';

.containerFlexBox {
  @include flexBoxRowJustifyCenter;
  width: auto;
  height: auto;
}
@include scrollbarDisplayNone;

.itemsBox{
  @include boxDisplay;
  @include boxItemContruct;
  justify-content: space-evenly;
  height: auto;
}
.itemTitle {
  @include flexBoxRowJustifyCenter;
}
.itemContainer {
  @include flexBoxRowJustifyCenter;
  height: 75%;
}
.itemImage {
  @include flexBoxRowJustifyCenter;
}

@media only screen and (max-width: 600px) {
  .itemsBox{
    @include smallWidth;
    @include spaceBetween;
  }
  .itemImage img{
    width: 200%;
  }
  .itemTitle {
    font-size: large;
  }
}

@media only screen and (min-width: 600px) {
  .itemsBox{
    @include smallWidth;
    @include spaceBetween;
  }
  .itemImage img{
    width: 200%;
  }
  .itemTitle {
    font-size: x-large;
  }
}

@media only screen and (min-width: 768px) {
  .itemsBox{
    @include mediumWidth;
    @include spaceBetween;
  }
  .itemImage img{
    width: 250%;
  }
  .itemTitle {
    font-size: x-large;
  }
}

@media only screen and (min-width: 992px){
  .itemsBox{
    @include highWidth;
    @include spaceBetweenHight;
  }
  .itemImage img{
    width: 300%;
  }
  .itemTitle {
    font-size: xx-large;
  }
}

@media only screen and (min-width: 1200px) {
  .itemsBox{
    @include highWidth;
    @include spaceBetweenHight;
  }
  .itemImage img{
    width: 300%;
  }
  .itemTitle {
    font-size: xx-large;
  }
}