{% include "metaBlock/metaBlock.html.twig" %}
<head>
    <link rel="stylesheet" type="text/css" href="">
    <title>MonAdmin - mes notifications</title>
</head>
<body>
<div class="primaryContainer primaryContainer--backgroundImage">
    <div class="primaryContainer__header">
        <?php require 'headerView.php';?>
        {% include "headerView/headerView.html.twig" %}
    </div>
</div>
</body>