@import '../Utils/mixin';
@import '../Utils/variables';


.containerArticlesBox {
  @include flexboxjustifyCentering;
  justify-content: flex-start;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.containerArticlesBox::-webkit-scrollbar{
  display: none;
}

.articlesListBox {
  //@include flexBoxRowJustifyCenter;
  @include flexboxAlignCentering;
  overflow-x: hidden;
  overflow-y: auto;
  margin-top: 10px;
}
.articlesListBox::-webkit-scrollbar{
  display: none;
}
.articleBox{
  @include flexboxjustifyCentering;
  background-color: aliceblue;
  margin-top: 10px;
  margin-bottom: 10px;
}
.articleTitleBox{
  @include flexBoxRowJustifyCenter;
}
.articleTitle{
  color: $thirdColor;
}
.articleTitle--size{
  font-size: 1.2em;
}
.articleNews--text{
  text-align: justify;
  padding-left: 2px;
  padding-right: 2px;
}