@import "../Utils/mixin";
@import "../Utils/variables";

.mainListContainer {
  @include flexBoxColumnJustifyCenter;
  width: auto;
  height: 100vh;
}
.listBoxes {
  @include flexBoxColumnJustifySpaceEvenly;
  width: auto;
  height: 100%;
}
/*
@media only screen and (max-width:600px){
  .listBoxes {
    align-items: center;
    margin-top: 20px;
  }

}

@media only screen and (min-width: 600px) {
  .mainListContainer {
    overflow-y: auto;
    overflow-x: hidden;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .listBoxes {
    align-items: center;
    margin-top: 20px;
  }
}

@media only screen and (min-width: 768px){
  .mainListContainer {
    overflow-y: auto;
    overflow-x: hidden;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .listBoxes {
    align-items: center;
    margin-top: 20px;
  }
}

@media only screen and (min-width: 992px) {
  .listBoxes {
    justify-content: space-evenly;
  }
}

@media only screen and (min-width: 1200px) {
  .listBoxes {
    justify-content: space-evenly;
  }
}*/