@import "../Utils/mixin";
@import "../Utils/variables";

.notifContainer {
  @include flexBoxColumn;
  width: auto;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    display: none;
  }
}
.formBox {
  @include flexBoxColumnJustifySpaceEvenly;
  width: 85%;
  height: 100%;
}