body {
  margin: 0;
}

*,
* before::after {
  box-sizing: border-box;
}

.primaryContainer {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 100vh;
}

.primaryContainer--backgroundImage {
  background-image: url("/../Ressources/images/cogs.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.headerBox {
  display: flex;
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
  color: white;
  font-weight: bold;
  background: #050057;
  background: linear-gradient(180deg, rgba(5, 0, 87, 0.83) 0%, rgba(5, 0, 87, 0.83) 0%, rgba(255, 255, 255, 0) 100%);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 80%;
}

.home {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: auto;
}

.homeImg {
  display: flex;
  width: 50%;
  height: 50%;
  justify-content: center;
  align-items: center;
}

.homeImg__background--backgroundcolor {
  background: #024eb6;
  border-radius: 45px;
}

.homeImg img {
  width: 45px;
  height: 45px;
}

@media only screen and (max-width: 600px) {
  .header__title--sizeTitle {
    font-size: 1.3em;
  }
}
@media only screen and (min-width: 600px) {
  .header__title--sizeTitle {
    font-size: 1.4em;
  }
}
@media only screen and (min-width: 768px) {
  .header__title--sizeTitle {
    font-size: 1.5em;
  }
}
@media only screen and (min-width: 992px) {
  .header__title--sizeTitle {
    font-size: 1.6em;
  }
}
@media only screen and (min-width: 1200px) {
  .header__title--sizeTitle {
    font-size: 1.8em;
  }
}
.containerFlexBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: auto;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.containerFlexBox::-webkit-scrollbar {
  display: none;
}

.itemsBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #40C4FF;
  color: white;
  border: 1px solid black;
  border-radius: 45px;
  justify-content: space-evenly;
  height: auto;
}

.itemsBox__noready--backgroundcolor {
  background-color: lightslategrey;
}

.itemTitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.itemContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 75%;
}

.itemImage {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.imgBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: auto;
}

.itemImage img {
  width: 150px;
}

@media only screen and (max-width: 600px) {
  .itemsBox {
    width: 250px;
    height: 20vh;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .itemImage img {
    width: 50px;
  }

  .itemTitle {
    font-size: large;
  }
}
@media only screen and (min-width: 600px) {
  .itemsBox {
    width: 250px;
    height: 20vh;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .itemImage img {
    width: 125px;
  }

  .itemTitle {
    font-size: x-large;
  }
}
@media only screen and (min-width: 768px) {
  .listItemsBox {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 1em;
    width: 90%;
    height: 100%;
  }

  .itemsBox {
    width: 350px;
    height: 250px;
  }
}
@media only screen and (min-width: 992px) {
  .listItemsBox {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 1em;
    width: 90%;
    height: 100%;
  }

  .itemsBox {
    width: 350px;
    height: 250px;
  }

  .itemTitle {
    font-size: xx-large;
  }
}
@media only screen and (min-width: 1200px) {
  .listItemsBox {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 1em;
    width: 90%;
    height: 100%;
  }

  .itemsBox {
    width: 350px;
    height: 250px;
  }

  .itemTitle {
    font-size: xx-large;
  }
}
@media only screen and (max-width: 600px) {
  .containerFlexBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .listItemsBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media only screen and (min-width: 992px) {
  .containerFlexBox {
    display: grid;
    grid-template-columns: repeat(20, 5%);
    grid-template-rows: repeat(20, 5%);
    width: auto;
    height: 100%;
  }
}
@media only screen and (min-width: 1200px) {
  .containerFlexBox {
    display: grid;
    grid-template-columns: repeat(20, 5%);
    grid-template-rows: repeat(20, 5%);
    width: auto;
    height: 100%;
  }
}
/*# sourceMappingURL=adminMainStyle.css.map */

/*# sourceMappingURL=adminMainStyle.css.map */
