RewriteEngine On


# if it is a file (-f) ...
RewriteCond %{REQUEST_FILENAME} -f [OR]
# ... Or a directory (-d)...
RewriteCond %{REQUEST_FILENAME} -d
# ... The 8 following rules are skiped
RewriteRule .* - [S=8]

# Rewriting Rules
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]

