{% extends "connectionView.html.twig" %}

{% block headerBlock %}
    <link rel="stylesheet" type="text/css" href="/public/Assets/css/headerStyle.css">
    <header>
        <div class="header__title header--color header-sizeTitle">
            <h1>MonAdmin</h1>
        </div>
    </header>
{% endblock %}