body {
  margin: 0;
}

*,
* before::after {
  box-sizing: border-box;
}

.primaryContainer {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 100vh;
}

.primaryContainer--backgroundImage {
  background-image: url("/../Ressources/images/cogs.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.primaryContainer {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.primaryContainer::-webkit-scrollbar {
  display: none;
}

.headerBox {
  display: flex;
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
  color: white;
  font-weight: bold;
  background: #050057;
  background: linear-gradient(180deg, rgba(5, 0, 87, 0.83) 0%, rgba(5, 0, 87, 0.83) 0%, rgba(255, 255, 255, 0) 100%);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 80%;
}

.headerButton {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 20%;
  height: auto;
}

.home {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: auto;
}

.homeImg {
  display: flex;
  width: 150px;
  height: 100px;
  justify-content: center;
  align-items: center;
}

.homeImg__background--backgroundcolor {
  background: #024eb6;
  border-radius: 45px;
}

.homeImg img {
  width: 45px;
  height: 45px;
}

.logout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: auto;
}

.logoutImg {
  display: flex;
  width: 150px;
  height: 100px;
  justify-content: center;
  align-items: center;
}

.logoutImg__background--backgroundcolor {
  background: #f01919;
  background: linear-gradient(135deg, #f01919 0%, rgba(242, 48, 48, 0.412202381) 100%);
  border-radius: 45px;
}

@media only screen and (max-width: 600px) {
  .header {
    width: 60%;
  }

  .header__title--sizeTitle {
    font-size: 1.3em;
  }

  .headerButton {
    width: 40%;
  }

  .homeImg {
    height: 60px;
  }

  .homeImg img {
    width: 35px;
    height: 35px;
  }

  .logoutImg {
    height: 60px;
  }

  .logoutImg img {
    width: 35px;
    height: 35px;
  }
}
@media only screen and (min-width: 600px) {
  .header__title--sizeTitle {
    font-size: 1.4em;
  }

  .headerButton {
    width: 40%;
  }

  .homeImg {
    height: 60px;
  }

  .homeImg img {
    width: 35px;
    height: 35px;
  }

  .logoutImg {
    height: 60px;
  }

  .logoutImg img {
    width: 35px;
    height: 35px;
  }
}
@media only screen and (min-width: 768px) {
  .header__title--sizeTitle {
    font-size: 1.5em;
  }

  .headerButton {
    width: 40%;
  }

  .homeImg {
    height: 75px;
  }

  .homeImg img {
    width: 45px;
    height: 45px;
  }

  .logoutImg {
    height: 75px;
  }

  .logoutImg img {
    width: 45px;
    height: 45px;
  }
}
@media only screen and (min-width: 992px) {
  .header__title--sizeTitle {
    font-size: 1.6em;
  }
}
@media only screen and (min-width: 1200px) {
  .header__title--sizeTitle {
    font-size: 1.8em;
  }
}
.mainListContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
  height: 100vh;
}

.listBoxes {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 100%;
}

@media only screen and (max-width: 600px) {
  .listBoxes {
    align-items: center;
    margin-top: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .mainListContainer {
    overflow-y: auto;
    overflow-x: hidden;
  }

  .mainListContainer::-webkit-scrollbar {
    display: none;
  }

  .listBoxes {
    align-items: center;
    margin-top: 20px;
  }
}
.formContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
}

.formBox {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: auto;
}

.userBox {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: auto;
  height: 65px;
}

.userBox__background--backgroundColor {
  background-color: #40C4FF;
}

.itemBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 15%;
  height: 55px;
  border-radius: 45px;
}

.itemBox__even--backgroundColor {
  background-color: #80D8FF;
}

.itemBox__odd--backgroundColor {
  background-color: #03A9F4;
}

.itemBox p {
  font-weight: bold;
}

.buttonBox {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 25%;
  height: 65px;
}

@media only screen and (max-width: 768px) {
  .userBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 100vh;
    margin-bottom: 20px;
  }

  .formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .formBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .itemBox {
    width: 85%;
    height: 10vh;
    margin-top: 10px;
    margin-bottom: 5px;
  }

  .buttonBox {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }
}
.updateLastNotifBox {
  display: flex;
  flex-direction: row;
  width: 300px;
  height: 150px;
}

.updateLastNotifBox button {
  width: 100%;
  height: 100%;
  background-color: #FBF526;
  border-radius: 45px;
  font-weight: bold;
  color: black;
  border: 1px solid black;
  border: 1px solid black;
  font-size: 1.5em;
  font-style: italic;
}

.updateLastNotifBox:hover {
  border: 2px solid black;
}

.updateBtn {
  display: flex;
  flex-direction: row;
  width: 50%;
  height: 100%;
}

.updateBtn button {
  width: 100%;
  height: 100%;
  background-color: #FBF526;
  border-radius: 45px;
  font-weight: bold;
  color: black;
  border: 1px solid black;
}

.updateBtn:hover {
  border: 2px solid black;
}

@media only screen and (max-width: 600px) {
  .updateBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .updateBtn button {
    height: 85%;
  }
}
.deleteBtn {
  display: flex;
  flex-direction: row;
  width: 50%;
  height: 100%;
}

.deleteBtn button {
  width: 100%;
  height: 100%;
  background-color: #E74C3C;
  border-radius: 45px;
  font-weight: bold;
  color: black;
  border: 1px solid black;
  font-weight: bold;
}

.deleteBtn:hover {
  border: 2px solid black;
}

@media only screen and (max-width: 600px) {
  .deleteBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .deleteBtn button {
    height: 85%;
  }
}
/*# sourceMappingURL=listMemberStylus.css.map */

/*# sourceMappingURL=listMemberStylus.css.map */
