@import "../Utils/mixin";
@import "../Utils/variables";

.pageTitleBox {
  @include rowFlex;
  align-items: center;
  width: 100%;
  height: 20%;
}
.labelTitle {
  @include flexBoxRowJustifyCenter;
  align-items: center;
  width: 100%;
  height: auto;
  & h2 {
    font-weight: bold;
    font-style: italic;
    color: $breakingWhite;
  }
}