@import "../Utils/mixin";
@import "../Utils/variables";

.noNotif {
  @include rowFlex;
  width: 100%;
  height: 50px;
  background-color: red;
  border: 1px solid black;
}

.notifBox {
  @include rowFlex;
  justify-content: space-evenly;
  align-items: center;
  width: 85%;
  height: 50px;
  border-bottom: 1px solid black;
  margin-top: 5px;
  &__backgroundcolor {
    &--backgroundcolor {
      background-color: $breakingWhite;
    }
  }
}
.notifTitle {
  @include rowFlex;
  width: 40%;
  height: auto;
  & label {
    font-size: $largeSize;
    font-style: italic;
  }
}
.timeBox {
  @include flexBoxRowJustifyCenter;
  width: 30%;
  height: auto;
}
.labelTimeNotif {
  @include rowFlex;
  align-items: center;
  width: 50%;
  height: auto;
  & label {
    font-size: 1.2em;
    font-weight: bold;
  }
}
.notifTime {
  @include rowFlex;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  height: auto;
  & label {
    font-size: 1.2em;
  }
}

.btnBox {
  @include rowFlex;
  justify-content: space-evenly;
  align-items: center;
  width: 30%;
  height: 100%;
}