@import "../Utils/mixin";
@import "../Utils/variables";

.updateLastNotifBox {
  @include rowFlex;
  width: 50%;
  height: 50%;
  & button {
    width: 100%;
    height: 100%;
    background-color: $updateColor;
    border-radius: $quarterBorder;
    font-weight: bold;
    color: black;
    border: 1px solid black;
  }
  &:hover {
    border: 2px solid black;
  }
}