@import "../Utils/mixin";
@import "../Utils/variables";

.userBox {
  @include rowFlex;
  justify-content: space-evenly;
  align-items: center;
  width: auto;
  height: 65px;
  &__background{
    &--backgroundColor{
      background-color: $secondColor;
    }
  }
}
.nameBox {
  @include flexBoxRowJustifyCenter;
  width: 15%;
  height: 55px;
  @include borderQuarter;
  &__background {
    &--backgroundColor {
      background-color: $thirdColor;
    }
  }
}
.firstnameBox {
  @include flexBoxRowJustifyCenter;
  width: 15%;
  height: 55px;
  @include borderQuarter;
  &__background {
    &--backgroundColor {
      background-color: $primaryColor;
    }
  }
}
.nicknameBox {
  @include flexBoxRowJustifyCenter;
  width: 15%;
  height: 55px;
  @include borderQuarter;
  &__background {
    &--backgroundColor {
      background-color: $thirdColor;
    }
  }
}
.mailBox {
  @include flexBoxRowJustifyCenter;
  width: 25%;
  height: 55px;
  @include borderQuarter;
  &__background {
    &--backgroundColor {
      background-color: $primaryColor;
    }
  }
}
p {
  font-weight: bold;
}
.buttonBox {
  @include rowFlex;
  justify-content: space-evenly;
  width: 25%;
  height: 65px;
}
.updateBtn {
  @include flexBoxColumnJustifyCenter;
  font-weight: bold;
  width: 50%;
  &__button {
    &--backgroundColor button {
      background-color: orange;
    }
    &--borderradius button {
      @include borderQuarter;
    }
    &--size button {
      height: 50px;
    }
  }
}
.deleteBtn {
  @include flexboxjustifyCentering;
  font-weight: bold;
  width: 50%;
  &__button {
    &--backgroundColor button {
      background-color: red;
    }
    &--borderradius button {
      @include borderQuarter;
    }
    &--size button {
      height: 50px;
    }
  }
}