@import '../Base/body';
@import '../Base/boxSizing';
@import '../Base/primaryContainerBackgroundImg';
@import '../Layout/headerStyle';
@import "../Composants/itemBoxModel";

@media only screen and (max-width: 600px){


  .containerFlexBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .listItemsBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

}